@model WebApplication1.Models.Claim

@{
    ViewBag.Title = "Delete";
}
<div style="margin-top:100px">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Claim</h4>
        <hr />
        <div class="container" style="margin-left:600px">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Claim_Date)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Accident_Place)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Accident_Description)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Claim_Amount)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Billing.Bill_Date)
                        </th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayFor(model => model.Claim_Date)
                        </th>

                        <th>
                            @Html.DisplayFor(model => model.Accident_Place)
                        </th>

                        <th>
                            @Html.DisplayFor(model => model.Accident_Description)
                        </th>

                        <th>
                            @Html.DisplayFor(model => model.Claim_Amount)
                        </th>

                        <th>
                            @Html.DisplayFor(model => model.Billing.Bill_Date)
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Claims")
            </div>
        }
    </div>
</div>