@model IEnumerable<WebApplication1.Models.InsurancePolicy>

<section class="w3l-bottom-grids-6 py-5" id="services">
    <div class="container py-lg-5 py-md-4">
        <h6 class="title-small text-center">Our Policies</h6>
        <h3 class="title-big mb-md-5 mb-4 text-center">Insurance Policies</h3>
        <div class="grids-area-hny main-cont-wthree-fea row">
            @foreach (var item in Model)
            {<div class="col-lg-4 col-md-6 grids-feature">
                    <div class="area-box">
                        <span class="fa fa-car"></span>
                        <h4><a href="#feature" class="title-head">@item.PolicyName</a></h4>
                        <p>@Html.DisplayNameFor(model => model.Est_Amount):</p>
                        <p>@Html.DisplayFor(modelItem => item.Est_Amount)</p>
                        <br />
                        <p> @Html.DisplayNameFor(model => model.Ins_Amount):</p>
                        <p>@Html.DisplayFor(modelItem => item.Ins_Amount)</p>
                        <br />
                        <p>@Html.DisplayNameFor(model => model.Pol_Duration):</p>
                        <p>@Html.DisplayFor(modelItem => item.Pol_Duration)</p>



                    </div>
                </div>
            }

        </div>
    </div>
</section>
